/* SD Table
-------------------------------------------------- */
@font-face {
    font-family: 'TopazPlus a500a1000a2000';
    src: url('../fonts/topaz.ttf');
}

.dvEdit {
    background-color: lightblue;
    width: 50px;
    text-align:center;
    border:2px solid white;
    &:focus {
        outline: none !important;
        background-color: white;
        border:2px solid green;
    }
}

@mixin commonTable {
    margin: 0px;
    padding: 0px;
    
    .range {
        margin: 0px;
        margin-right: 10px;
        background-color: white;
        color: black;
        padding: 3px;
    }

    .asciiHighlight {
        color: black;
        background-color: white;
    }
}

.sectorTable {
    pre {
        .asciiChar {
            background-color: #303030;
            margin-right: 2px;
            padding: 1.25px;
        }
   
        .hex {
            background-color: gray;
            color: black;
            padding: 3px;
            margin: 0px;
            margin-right: 2px;
            &:hover {
                background-color: white;
                color: black;
                cursor: text;
            }
        }
    
        .asciiBlock {
            // background-color: #303030;
            border-left: 4px solid gray;
            color: white;
            margin-left: 10px;
            padding-left: 10px;
            padding-right: 10px;
            padding: 3px;
        }
    
        @include commonTable;
        margin-top: 1px;
    }
}

.asciiTable {
    overflow: hidden;
    
    pre:not(:first-of-type) {
        margin-top: -9px;
    }

    pre {
        .asciiBlock {
            margin-right: 20px;
            font-family: 'TopazPlus a500a1000a2000';
            font-style: normal;
            font-size:large;
        }  

        @include commonTable;
        overflow: hidden;
    }
}

/* Histogram
-------------------------------------------------- */

.histCanvas
{
    background-color: black;
    border:1px solid darkgrey;
}