/* Footer
-------------------------------------------------- */

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 90px;
    line-height: 90px;
    background-color: lightgray;
}

.statusfooter
{    
    position: relative;
    top: -25px;
}

/* Pin Status
-------------------------------------------------- */

.busy
{
    background-color: red;
    color: white;
}

.idle
{
    background-color: green;
    color: white;
}