/* Header
-------------------------------------------------- */

.xcopylogo {
    position: absolute;    
    top: -60px;
}

.nav-link {
    color: $textColor;
}

.nav-link:hover {
    color: gray;
}
