$textColor: white;
$textColorDark: black;
$background: #1e1e1e;

@import "./xcopy";

@import "./header";

@import "./diskcopy";

@import "./diskcopyTracks";

@import "./sdcard";

@import "./diskview";

@import "./footer";
