body
{
    background: black;
    color: white;
}
thead
{
    background-color:blue;
    color: #fff;
}
tbody
{
    background-color:lightblue;
    color:black;
}
td
{
    height:40px;
    width:40px;
    text-align: center;
}
.right
{
    text-align: right;
}
.trackDefault
{
    background-color: whitesmoke;
    color: black;
    font-size: smaller;
}
.trackRed
{
    background-color: red;
    color: white;
    font-size: smaller;
}
.trackOrange
{
    background-color: orange;
    color: black;
    font-size: smaller;
}
.trackYellow
{
    background-color: yellow;
    color: black;
    font-size: smaller;
}
.trackGreen
{
    background-color: green;
    color: black;
    font-size: smaller;
}
.trackMagenta
{
    background-color: magenta;
    color: white;
    font-size: smaller;
}
.busy
{
    background-color: red;
    color: white;
    font-size: smaller;
}
.idle
{
    background-color: green;
    color: white;
    font-size: smaller;
}
.socketOpen
{
    background-color: green;
    color: white;
    font-size: smaller;
}
.socketClosed
{
    background-color: red;
    color: white;
    font-size: smaller;
}
.socketError
{
    background-color: orange;
    color: white;
    font-size: smaller;
}
.disable
{
  background-color: red;
  color: darkred;
  pointer-events: none;
  cursor: not-allowed;
}
