body
{
    background: black;
    color: white;
}
thead
{
    background-color:blue;
    color: #fff;
}
td
{
    height:40px;
    width:40px;
    text-align: center;
}
.right
{
    text-align: right;
}
tbody
{
    background-color:blue;
    color:white;
}
.trackDefault
{
    background-color: whitesmoke;
    color: black;
}
.trackRed
{
    background-color: red;
    color: white;
}
.trackOrange
{
    background-color: orange;
    color: black;
}
.trackYellow
{
    background-color: yellow;
    color: black;
}
.trackGreen
{
    background-color: green;
    color: black;
}
.trackMagenta
{
    background-color: magenta;
    color: white;
}
.busy
{
    background-color: red;
    color: white;
}
.idle
{
    background-color: green;
    color: white;
}