@font-face {
    font-family: oldschool;
    src: url(ThinPixel7.ttf);
}
body
{
    background: black;
    color: white;
}

/* Table */
table
{
    border-spacing: 0; 
    border-width: 0; 
    padding: 0px;
    margin: 0px;
}
thead
{
    background-color:blue;
    color: #fff;
}
th
{
    font-family: oldschool;
    font-size: xx-large;
    font-weight: normal;
    text-align: center;
    border-width: 1px;
    border-color: darkred;
}
.blackhead
{
    background-color:black;
}
tbody
{
    background-color:lightblue;
    color:black;
}
td
{
    font-family: oldschool;
    font-size: xx-large;
    height:28px;
    width:28px;    
    padding: 0px;
    margin: 0px;
    text-align: center;
    border-color: darkred;
    border-width: 1px;
    background-color: black;
}
.tdhr
{
    background: black;
    height:12px;
}
.header
{
    background-color:darkblue;
    font-size: xx-large;
    font-family: oldschool;
    padding-right: 10px;
    text-align: center;
}
.column
{
    background-color: black;
    color: #87BCCB;
    font-size: xx-large;
    font-family: oldschool;
}
.black
{
    background-color: black;
}

/* Track Colors */
.trackDefault
{
    background-color: black;
    color: black;
    font-size: smaller;
    border: 2px solid white;
}
.trackRed
{
    background-color: red;
    color: white;
    font-size: smaller;
    border: 2px solid white;
}
.trackOrange
{
    background-color: orange;
    color: black;
    font-size: smaller;
    border: 2px solid white;
}
.trackYellow
{
    background-color: yellow;
    color: black;
    font-size: smaller;
    border: 2px solid white;
}
.trackGreen
{
    background-color: green;
    color: black;
    font-size: smaller;
    border: 2px solid white;
    border: 2px solid white;
}
.trackMagenta
{
    background-color: magenta;
    color: white;
    font-size: smaller;
    border: 2px solid white;
}

/* Table */

.fluxCanvas
{
    background-color: black;
    border:1px solid darkgrey;
    width: 320px;
    height: 256px;
}

/* Status Bar */
.status
{
    font-size: xx-large;
    font-family: oldschool;
    padding-right: 10px;
    text-align: right;
}
.busy
{
    font-size: medium;
    font-family: oldschool;
    background-color: red;
    color: white;
}
.idle
{
    background-color: green;
    color: white;
    font-size: smaller;
}
.socketOpen
{
    font-size:medium;
    font-family: oldschool;
    background-color: green;
    color: white;
}
.socketClosed
{
    font-size: medium;
    font-family: oldschool;
    background-color: red;
    color: white;
}
.socketError
{
    font-size: medium;
    font-family: oldschool;
    background-color: orange;
    color: white;
}

/* Buttons */
.button1
{
        font-family: oldschool;
        font-size: xx-large;;
        border-radius: 8px;
        background-color: #447788;
        color:#FFCC00;
        border-color:#BBEEFF;
        border-width:4px;
}
.button2
{
        font-family: oldschool;
        font-size: xx-large;;
        border-radius: 10px;
        background-color: #447788;
        color:#33dd22;
        border-color:#BBEEFF;
        border-width:4px;
}
.disable
{
  background-color: red;
  color: darkred;
  pointer-events: none;
  cursor: not-allowed;
}

/* Icons */

.gray {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
